body{

background:#050505;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Inter,sans-serif;

color:white;

}

.login-card{

background:#151515;

padding:40px;

width:420px;

border-radius:18px;

box-shadow:0 20px 50px rgba(0,0,0,.5);

text-align:center;

}

.logo{

width:150px;

margin-bottom:20px;

}

h1{

font-family:Cinzel,serif;

color:#dcb45b;

margin-bottom:8px;

}

h2{

color:#999;

font-weight:400;

margin-bottom:35px;

}

label{

display:block;

text-align:left;

margin-bottom:8px;

}

input{

width:100%;

padding:14px;

margin-bottom:20px;

background:#222;

border:1px solid #444;

color:white;

border-radius:8px;

box-sizing:border-box;

}

button{

width:100%;

padding:15px;

background:#2d4ea3;

border:none;

border-radius:8px;

color:white;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#3d63c7;

}

#errorMessage{

margin-top:20px;

color:#ff5a5a;

}
